<!doctype html>
<head>
<script type=text/javascript src="{{ url_for('static', filename='jquery-3.1.0.min.js') }}"></script>
</head>
<body>
    <h2>Create a new addrese</h2>
    <form action='/address' method='post'>
        Random seed:<br>
        <input type='text' name='message' size='100'><br><br>
        <input type='submit' value='submit'>
        <div class='form-result'></div>
    </form>

    <hr>

    <h2>Get address balance</h2>
    <form action='/balance' method='get'>
        Address:<br>
        <input type='text' name='address' size='50'><br><br>
        <input type='submit' value='Submit'>
    </form>

    <hr>

    <h2>Create a new license</h2>
    <form action='/license' method='post'>
        Address:<br>
        <input type='text' name='address' size='50'><br>
        Color:<br>
        <input type='text' name='color_id' size='40'><br>
        Name:<br>
        <input type='text' name='name' size='40'><br>
        Description:<br>
        <input type='text' name='description' size='80'><br>
        Metadata link:<br>
        <input type='text' name='metadata_link' size='40'><br><br>
        <input type='submit' value='Submit'>
    </form>

    <hr>

    <h2>Mint</h2>
    <form action='/mint' method='post'>
        Address:<br>
        <input type='text' name='mint_address' size='50'><br>
        Color:<br>
        <input type='text' name='color_id' size='40'><br>
        Amount:<br>
        <input type='text' name='amount' size='40'><br>
        Private key:<br>
        <input type='text' name='priv' size='80'><br><br>
        <input type='submit' value='Submit'>
    </form>

    <hr>

    <h2>Send money</h2>
    <form action='/send' method='post'>
        From address:<br>
        <input type='text' name='from_address' size='50'><br>
        To address:<br>
        <input type='text' name='to_address' size='50'><br>
        Color:<br>
        <input type='text' name='color_id' size='40'><br>
        Amount:<br>
        <input type='text' name='amount' size='40'><br>
        Private key:<br>
        <input type='text' name='priv' size='80'><br><br>
        <input type='submit' value='Submit'>
    </form>

    <br><br><br>

    <h2>Note:</h2>
    <ul>
        <li>Send money would consume one color 1. Make sure your address has color 1 before sending money.</li>
        <li>Since the application has no database yet, you need to record the created address and its private key by yourself.</li>
    </ul>
</body>

<script>

/*
document.body.onload = function() {
    var forms = document.getElementsByTagName('form');

    for (i = 0; i < forms.length; i++) {
        forms[i].onsubmit = function() {
            send_request(form);
            return false;
        };
    }
};

function send_request(button) {
    var form = button;
    //var form = button.parentElement;
    var xhttp = new XMLHttpRequest();
    xhttp.open(form.method, form.action, true);
    xhttp.onreadystatechange = (function(form) {
        return function() {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
                form.getElementsByClassName('form-result')[0].innerHTML = xhttp.responseText;
            }
        }
    })(form);
    xhttp.send(new FormData(form));
};
*/

$(document).ready(function () {
    $('form').on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            url : $(this).attr('action') || window.location.pathname,
            type: $(this).attr('method'),
            data: $(this).serialize(),
            success: (function (form) {
                return function (data) {
                    $(form).find('.form-result').html(data);
                }
            })(this),
            error: function (jXHR, textStatus, errorThrown) {
                $(this);
                alert(errorThrown);
            }
        });
    });
});

</script>
